<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="attributes">Attributes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="class">Class</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="event">Event</a>
            <a class="dropdown-item" routerLink="interpolation">Interpolation</a>
            <a class="dropdown-item" routerLink="property">Property</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="style">Style</a>
            <a class="dropdown-item" routerLink="two-way">Two-Way</a>
            <a class="dropdown-item" routerLink="products">Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="products">Products List</a>
            <a class="dropdown-item" routerLink="details">Product Details</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>