.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #e0f7fa;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 255, 255, 0.2);
}

.modal-container:has(app-supplier-details) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 50, 60, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

app-supplier-details {
  display: block;
  background: #e0f7fa;

  width: 650px !important;
  max-width: 90vw;

  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);

  max-height: 85vh;
  overflow-y: auto;
}